venv/
venv-pypy/
build/
.idea/

render/*
dist/
*.egg-info/

*.so

*.gpx
*.MP4
*.mp4
*.out

.~*#

# output from gopro-layout
frame.png

#output from viztracer
result.json

# Ignore actuals / diffs from approvals
tests/approvals/*.actual.png
tests/approvals/*.diff.png
tests/approvals/*.diff_over_approved.png

**/__pycache__/

.vscode/settings.json
